<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="webedit:ext:renderingfieldeditor" type="Sitecore.ClientExtensions.EditRenderingProperties, Sitecore.ClientExtensions"/>
    </commands>
    <pipelines>
      <getRenderingPropertiesFieldEditor>
        <processor type="Sitecore.ClientExtensions.Pipelines.Initialize, Sitecore.ClientExtensions" />
        <processor type="Sitecore.ClientExtensions.Pipelines.GetRenderingPropertiesFieldEditor.GetFields, Sitecore.ClientExtensions" />
      </getRenderingPropertiesFieldEditor>
      <saveRenderingPropertiesFieldEditor>
        <processor type="Sitecore.ClientExtensions.Pipelines.Initialize, Sitecore.ClientExtensions" />
        <processor type="Sitecore.ClientExtensions.Pipelines.SaveRenderingPropertiesFieldEditor.SetValues, Sitecore.ClientExtensions" />
      </saveRenderingPropertiesFieldEditor>
    </pipelines>
  </sitecore>
</configuration>
